@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* color */
  --color-bgrColor: #131722;
  --color-lightBgColor: #24baef;
  --color-bgTransparent: rgba(36, 186, 239, .6);
  --color-fontColor: #fff;
  --color-borderColor: #a8a8a83d;
  --color-borderHeight: 1px;
  --color-secondFontColor: #494cb0;
  /* padding */
  --margin-defaultPadding: 90px;
    /* font family */
    --font-mainFont: "Montserrat Alternates";

}

@layer base {
  body {
    @apply bg-bgrColor text-fontColor font-mainFont font-light
  }
}